<h1> Edit Picture </h1> 
  <% @picture.errors.each do |err|%>   <!-- for object @picture initialize errors method (errors = array containing compilation of ruby specific errors.) for each error run loop to return value of error - if error is found. -->
  <%= err %>
  <% end %>  

  <p> 
    <%= link_to "Back", @picture %>
    <!-- <%= link_to "Back", picture_path(@picture) %> --> 
  </p>

  <%= form_for @picture do |f| %> 
    <p> 
      <%= f.label :artist %> <br> 
      <%= f.text_field :artist %>
    </p> 
    <p> 
      <%= f.label :title %> <br> 
      <%= f.text_field :title %>
    </p> 
    <p> 
      <%= f.label :url %> <br> 
      <%= f.text_field :url %>
    </p>
    <p> 
      <%= f.submit %> 
    </p>
    <% end %> 
